* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.clock {
  background-color: #212121;
  border: 1px solid white;
  border-radius: 10px;
  height: auto;
  color: white;
  padding: 40px;
}
#Date {
  font: 20px;
  text-align: center;
}
.clock ul {
  display: flex;
  font-size: 2em;
  list-style: none;
  gap: 15px;
}
